<div class="Toggle">
  <div
    *ngFor="let item of mappedItems;"
    (click)="onClick(item);"
    class="Toggle-item"
    [ngClass]="{
      'is-active': (activeItemValues === true
          || (activeItemValues && activeItemValues.indexOf(item.value) > -1))
        && !(disabledItemValues === true
          || (disabledItemValues && disabledItemValues.indexOf(item.value) > -1)),
      'is-disabled': (disabledItemValues === true
          || (disabledItemValues && disabledItemValues.indexOf(item.value) > -1)),
      'is-warning': (warningItemValues === true
          || (warningItemValues && warningItemValues.indexOf(item.value) > -1)),
      'is-icon': (item.icon != null) && (item.text == null)
    }"
  >
    <span *ngIf="item.icon != null" class="Toggle-itemIcon" [ngClass]="item.icon"></span>
    <span *ngIf="item.text != null" class="Toggle-itemText">
      {{item.text}}
    </span>
  </div>
</div>
