<div class="Toggle">
  <div
    *ngFor="let item of cleanItems;"
    (click)="!item.disabled && activeSource.next(item.value)"
    class="Toggle-item"
    [ngClass]="{
      'is-active': !item.disabled && ((active$ | async) === item.value),
      'is-disabled': !!item.disabled,
      'is-warning': !!item.warning
    }"
  >
    <span *ngIf="item.icon != null" class="Toggle-itemIcon" [ngClass]="item.icon"></span>
    <span *ngIf="item.text != null" class="Toggle-itemText">
      {{item.text}}
    </span>
  </div>
</div>
