<div class="_pxl">
  <h4>Icons Unrelated</h4>
  <supre-toggle
    (toggleUpdated)="updateActiveItems($event)"
    [disabledItemValues]="disabledItemValues"
    [activeItemValues]="activeItemValues"
    [items]="[
      {icon: 'u-supre-icon u-supre-icon--refresh-clear', value: 'clear', class: '-toggle-action'},
      {icon: 'u-supre-icon u-supre-icon--filter', value: 'filter', class: '-toggle-action'},
      {icon: 'u-supre-icon u-supre-icon--arrow-down-filled', value: 'dataGrid', class: '-toggle-action background open-bottom'}
    ]"
  ></supre-toggle>
  <hr>
  <button class="-action _mtl" (click)="updateDynamicDisabled()">Toggle Disabled</button>
</div>

<div class="_mtxl _mlxl">
  <supre-toggle
    [parentWrapperClass]="activeToggles.length > 0 ? 'has-selection' : ''"
    (toggleUpdated)="conjunctionUpdated($event)"
    [activeItemValues]="activeToggles"
    [items]="[
      {text: 'and', value: 'and'},
      {text: 'or', value: 'or'}
    ]">
  </supre-toggle>
</div>