<div class="_pxl">
  <h4>Icons Unrelated</h4>
  <supre-toggle-group multi-mode (toggleUpdated)="onMultiModeToggleUpdate($event)">
    <button supre-toggle-icon-button value="clear" [supreData]="{'qa-id' : 'clear'}" [disabled]="disabled">
      <span class="u-supre-icon u-supre-icon--refresh-clear"></span>
    </button>
    <button supre-toggle-icon-button value="filter" [supreData]="{'qa-id' : 'filter'}" [disabled]="disabled">
      <span class="u-supre-icon u-supre-icon--filter"></span>
    </button>
    <button supre-toggle-icon-button value="dataGrid" class="background open-bottom" [supreData]="{'qa-id' : 'open'}" [disabled]="disabled">
      <span class="u-supre-icon u-supre-icon--arrow-down-filled"></span>
    </button>
  </supre-toggle-group>
  <hr>
  <label>ToggleUpdated Value: {{multiModeToggleUpdatedValue}}</label>
  <button class="-action _mtl" (click)="updateDisabled()">Toggle Disabled</button>
</div>
<div class="_pxl">
  <supre-toggle-group #group="supreToggleGroup" [ngClass]="group.isInitialized && group.value ? 'has-selection' : ''" (toggleUpdated)="onToggleUpdate($event)" [value]="conjunction">
    <button supre-toggle-button value="and">and</button>
    <button supre-toggle-button value="or">or</button>
  </supre-toggle-group>
  <button class="-action _mtl" (click)="conjunction = conjunction === 'or' ? 'and' : 'or'">Toggle Value Externally</button>

  <hr>
  <label>Selected Value: {{group.value}}</label>
  <label>ToggleUpdated Value: {{toggleUpdatedValue}}</label>
</div>
