<div>
  <h4>Unrelated</h4>
  <supre-toggle
    (toggleUpdated)="log($event)"
    [unrelated]="true"
    [items]="[
      {text: 'foo', disabled: this.dynamicDisabled},
      {text: 'bar', default: true},
      {text: 'baz', value: 'bazzzzz'},
      {text: 'bad', warning: true}
    ]"
  ></supre-toggle>

  <h4>Related</h4>
  <supre-toggle
    (toggleUpdated)="log($event)"
    [items]="[
      {text: 'foo', disabled: this.dynamicDisabled},
      {text: 'bar', default: true},
      {text: 'baz', value: 'bazzzzz'},
      {text: 'bad', warning: true}
    ]"
  ></supre-toggle>

  <h4>Icons Unrelated</h4>
  <supre-toggle
    (toggleUpdated)="log($event)"
    [unrelated]="true"
    [items]="[
      {icon: 'ion-refresh', value: 'refresh', disabled: this.dynamicDisabled},
      {icon: 'ion-funnel', value: 'filter', default: true},
      {icon: 'ion-settings', value: 'settings'}
    ]"
  ></supre-toggle>
</div>
<hr>
<button (click)="updateDynamicDisabled()">Toggle Disabled</button>
