<span [ngClass]="parentWrapperClass">
  <button
    *ngFor="let item of mappedItems;"
    (click)="onClick(item);"
    [disabled]="disabledItemValues === true || (disabledItemValues && disabledItemValues.indexOf(item.value) > -1)"
    [class]="item.class || '-toggle'"
    [ngClass]="{
      'is-active': (activeItemValues === true
          || (activeItemValues && activeItemValues.indexOf(item.value) > -1))
        && !(disabledItemValues === true
          || (disabledItemValues && disabledItemValues.indexOf(item.value) > -1)),
      'is-disabled': (disabledItemValues === true
          || (disabledItemValues && disabledItemValues.indexOf(item.value) > -1)),
      'is-warning': (warningItemValues === true
          || (warningItemValues && warningItemValues.indexOf(item.value) > -1)),
      'is-icon': (item.icon != null) && (item.text == null)
    }"
  >
    <span *ngIf="item.icon != null" [ngClass]="item.icon"></span>
    {{item.text}}
  </button>
</span>
