.Toggle {
  display: flex; }

.Toggle-item {
  font-family: verdana;
  font-weight: 600;
  height: 32px;
  min-width: 24px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  border-top: 1px solid #c2cdd8;
  border-right: 1px solid #c2cdd8;
  border-bottom: 1px solid #c2cdd8;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #6460aa; }

.Toggle-item:first-child {
  border-left: 1px solid #c2cdd8; }

.Toggle-item:hover {
  cursor: default;
  background-color: #b5b3d6; }

.Toggle-item.is-icon {
  color: #9fb3c3; }

.Toggle-item.is-active {
  background-color: #6460aa;
  color: white; }

.Toggle-item.is-icon:hover {
  background-color: white;
  color: #7bb5cf; }

.Toggle-item.is-icon.is-active {
  color: #55a0c2;
  background-color: white; }

.Toggle-item.is-warning:hover {
  background-color: #ff4a43; }

.Toggle-item.is-active.is-warning {
  background-color: #dc0800; }

.Toggle-itemIcon {
  font-size: 2em; }

.Toggle-item.is-icon.is-disabled,
.Toggle-item.is-warning.is-disabled,
.Toggle-item.is-disabled {
  background-color: white;
  color: #dbe3e9; }
