@import '../node_modules/suprematism-scss/colors';
$purple: #6460aa;
$purple-light: lighten($purple, 25%);

$primary: $purple;
$primary-light: $purple-light;
$borders: 1px solid #c2cdd8;
$icon: #55a0c2;
$icon-light: lighten($icon, 10%);
$disabled: #dbe3e9;
$danger: #dc0800;
$danger-light: lighten($danger, 20%);

.Toggle {
  display: flex;
}
.Toggle-item {
  font-family: verdana;
  font-weight: 600;
  height: 32px;
  min-width: 24px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  border-top: $borders;
  border-right: $borders;
  border-bottom: $borders;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: $primary;
}
.Toggle-item:first-child {
  border-left: $borders;
}
.Toggle-item:hover {
  cursor: default;
  background-color: $primary-light;
}
.Toggle-item.is-icon {
  color: #9fb3c3;
}
.Toggle-item.is-active {
  background-color: $primary;
  color: white;
}
.Toggle-item.is-icon:hover {
  background-color: white;
  color: $icon-light;
}
.Toggle-item.is-icon.is-active {
  color: $icon;
  background-color: white;
}
.Toggle-item.is-warning:hover {
  background-color: $danger-light;
}
.Toggle-item.is-active.is-warning {
  background-color: $danger;
}
.Toggle-itemIcon {
  font-size: 2em;
}
.Toggle-item.is-icon.is-disabled,
.Toggle-item.is-warning.is-disabled,
.Toggle-item.is-disabled {
  background-color: white;
  color: $disabled;
}
